<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ if or (eq .Lang "ar") (eq .Lang "fa") }}
    {{ "<!-- ar -->" | safeHTML }}
    <link href="{{ "css/style.rtl.css" | absURL }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.styleltr}}" crossorigin="anonymous"{{ end }}>
    {{ else }}
    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>
    {{ end }}

    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>

  <body>

    {{ block "header" . }}
    {{ if (ne .Site.Params.header_visible false) }}
    <header class="pt-3 pb-2 blog-header">
      <div class="container">
        <h1 dir="auto"><a href="{{ .Site.BaseURL | absURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></h1>
      </div>
    </header>
    {{ end }}
    {{ end }}

    {{ block "body" . }}
    <div class="container">
      <div class="row">
        <div class="d-none d-md-inline-block col-md-3">
          {{ partial "sidebar.html" . }}
        </div>
        <div class="col-md-8 ml-auto blog-main">
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div> {{ "<!-- /.blog-main -->" | safeHTML }}
        <div class="d-md-none col-sm-12 m-auto">
          {{ partial "sidebar.html" . }}
        </div>
      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}
  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
