{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="card mb-3">
  <article>
    {{ if (.Params.img) }}
      <img class="card-img-top" src="{{ .Params.img }}" alt="{{ .Params.caption }}">
    {{ end }}
    <header class="card-body">
      <h2 class="card-title" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
      <p class="card-subtitle">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format $dateFormat }}
        </time> 
        {{ i18n "authoredBy" }} 
        {{ .Params.author | default .Site.Params.author }}
        {{ if or (.Params.categories) (.Params.tags) }} 
        {{ i18n "postedIn" }} 
        {{ partial "meta-terms.html" . }}
        {{ end }}
      </p>
      <p class="card-text">
        {{ .Summary }}
      </p>
    </header>
    
    <a href='{{ .Permalink }}'>
      <div class="card-footer">
      {{ i18n "readMore" }}
      </div>
    </a>
  </article> <!-- /.blog-post -->
</div>

{{- /* vim: set ts=2 sw=2 et: */}}
